@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

#header {
  background-image: url("../src/images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 576px) {
  #header {
    background-image: url("../src/images/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

body {
  font-family: "Josefin Sans";
}
#header.dark {
  background-image: url("./images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 576) {
  #header.dark {
    background-image: url("./images/bg-mobile-dark.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.footer-container {
  @apply flex flex-row items-center justify-center md:hidden  p-2 rounded-md bg-varyLightGray dark:bg-veryDarkDesaturatedBlue shadow-md my-3 mx-4;
}
.footer-flex-container {
  @apply flex items-center justify-between space-x-5 md:hidden;
}
.inputArea-container {
  @apply flex flex-row items-center justify-between space-x-4 p-2 rounded-md bg-varyLightGray dark:bg-veryDarkDesaturatedBlue  border-b border-darkGrayishBlue dark:border-veryDarkGrayishBlue;
}
.isDone-circle {
  @apply border border-darkGrayishBlue w-6 h-6 rounded-full font-bold text-varyLightGray text-xl cursor-pointer;
}
.tick-container {
  @apply relative bg-gradient-to-l from-fromGradient  to-toGradient w-6 h-6  rounded-full;
}
.main-container {
  @apply container mx-auto -mt-52 px-5 py-2 w-[23rem] md:w-[50rem];
}
.newtodo-container {
  @apply flex flex-row justify-between items-center space-x-3 p-3 rounded-md bg-varyLightGray dark:bg-veryDarkDesaturatedBlue mx-4;
}
.tracking-todo-container {
  @apply flex flex-row items-center justify-between mx-4  p-2 rounded-md bg-varyLightGray shadow-md dark:bg-veryDarkDesaturatedBlue;
}
